
.shopping-cart {
    margin-top: 8em;

    .cart {

        .cart-products {
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;

            .cart-product-item {
                width: 300px;
            }
        }
        .cart-Total {

            .total-price {
                font-size: 1.2em;
            }
            .stripe-btn {
                margin-top: 10px;
            }
        }
    }

    
}

