@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    color: rgb(224, 201, 212);
    background: rgb(78, 1, 32);
  }

body.hide {overflow-y: hidden !important;}

.navbar-container {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    z-index: 99;
    
    header {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        padding: 0 110px 0 30px;
        width: 100%;
        text-align: center;
        background-color: rgb(255, 255, 255);

        .logo .link {
            color: rgb(206, 0, 0);
            text-decoration: none;
            text-shadow: 1px 1px 1px rgb(85, 84, 84);
            span {color: rgb(36, 169, 202);}
            height: 50px;
            line-height: 50px;
            font-size: 1.8em;
            font-weight: bold;
            letter-spacing: 3px;
            float: left;
            margin-top: 8px;
            margin-right: 25px;
        }
        nav {
            display: block;
            margin-top: 10px;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;

                li {
                    list-style: none;
                    position: relative;
                    display: block;
                    margin: 5px 10px;
                    
                    .fas { 
                        position: absolute;
                        bottom: -12%;
                        right: 45%;
                        font-size: 1.4em;
                        text-shadow: 0 1px 6px rgb(110, 4, 84);
                        color: rgb(255, 255, 255);
                    }
                    .link {
                        height: 50px;
                        line-height: 40px;
                        padding: 5px 7px;
                        border: 1px solid rgba(201, 201, 201, 0.5);
                        color: rgb(0, 0, 0);
                        background-color: rgb(255, 255, 255);
                        text-decoration: none;
                        box-shadow: -1px 1px 5px rgba(73, 0, 55, 0.205);
                        border-radius: 20px 0 10px 0;
                        transition: .5s ease;

                        &:hover {
                            box-shadow: -2px 2px 4px rgb(163, 163, 163);
                            cursor: pointer;
                        }
                    }
                    ul {
                        position: absolute;
                        display: block;
                        left: 0;
                        opacity: 0;
                        visibility: hidden;
                        
                        li {
                            display: block;
                            margin: 0;
                            z-index: 3;
                            background-color: white;

                            .link {
                                box-shadow: 0 0 1px; 
                                border: 0;
                            }
                        }
                    }
                    &:hover ul{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .shopping-cart {
            height: 50px;
            line-height: 50px;
            margin-top: 12px;
            position: absolute;
            right: 2%;
            top: 5%;

            .quantity {
                position: absolute;
                transform: translate(36px,0);
                color: rgb(255, 65, 106);
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 3px rgb(247, 153, 153);
                height: 22px;
                width: 30px;
                border-radius: 12px 0 12px 0;
            }
            .link {
                color: rgb(253, 162, 174);
                display: block;

                .fa {
                    font-size: 1.8em;
                    margin-top: 12px;
                }  
            }
           
        }
        .menu-lines {
            position: fixed;
            top: 1%;
            right: 1%;
            z-index: 99;
            padding: 7px 3px;
            display: none;
            cursor: pointer;

            .line {
                display: block;
                margin-top: 4px;
                width: 30px;
                height: 5px;
                background: rgb(226, 5, 193);
                transition: .5s ease;
                
                &.open:nth-child(1) {
                    transform: rotate(46deg) translate(5px, 9px);
                    transition: .5s ease;
                }
                &.open:nth-child(2) {
                    transform: rotate(-50deg) translate(-3px, -2px);
                    transition: .5s ease;
                }
                &.open:nth-child(3) {display: none;}
            }
        }
    }


    @media (max-width: 1000px) {
        
        header {
            padding: 0 100px !important;

            .menu-lines {
                display: block;
            }
            .logo .link {
                float: none;
                line-height: 35px;
                height: 45px;
                margin: 0 !important;
            }
            .shopping-cart {
                position: relative;
                margin: 5px 0 0 0;
                line-height: 25px;
                height: 35px;
                background-color: white;
                border-bottom: 1px solid rgb(252, 157, 204);

                .quantity {
                    display: inline !important;
                    margin-left: 62px !important;
                }
                .fa {
                    margin-top: 0 !important;
                }
            }
            nav {
                position: fixed;
                width: 100%;
                overflow-y: scroll;
                height: 100%;
                background: rgb(255, 255, 255);
                margin-top: 25px;
               
                left: -100%;
                transition: .5s;

                &.active {
                    left: 0;
                }
                ul li:hover ul {
                    position: relative;
                    background-color: rgb(255, 255, 255);
                    display: block;
                    left: 0;

                    li{
                        margin-top: 2px;
                        border-radius: 110px;
                    }
                }
                ul {
                    display: block;

                    li {
                        border-bottom: 1px solid rgba(255, 80, 226, 0.1);
                        margin-top: 5%;

                        .fas {
                            display: none;
                        }
                        .link {
                            border-radius: 0; 
                            box-shadow: 0 0 0;
                            border: 0;

                            &:hover {
                                box-shadow: 0 0 0;
                            }
                        }
                        ul {
                            display: none;
                            
                            li {
                            width: 100%;
                            border: 0;
                            } 
                        }
                    }
                }
            }
        }
    }
}



