@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: #e0c9d4;
  background: #4e0120;
}

::selection {
  color: #e0c9d4;
  background: #4e0120;
}

.navbar-container {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.navbar-container header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 0 100px;
  width: 100%;
  text-align: center;
  background-color: white;
}

.navbar-container header .logo a {
  color: #ce0000;
  text-decoration: none;
  text-shadow: 1px 1px 1px #555454;
  height: 50px;
  line-height: 50px;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 3px;
  float: left;
  margin-top: 12px;
}

.navbar-container header .logo a span {
  color: #24a9ca;
}

.navbar-container header nav {
  display: inline-block;
  margin-top: 10px;
}

.navbar-container header nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-container header nav ul li {
  list-style: none;
  position: relative;
  display: block;
  margin: 5px 10px;
}

.navbar-container header nav ul li .fas {
  position: absolute;
  bottom: -10%;
  right: 40%;
  font-size: 1.4em;
  text-shadow: 0 1px 6px #6e0454;
  color: white;
}

.navbar-container header nav ul li .link {
  height: 50px;
  line-height: 40px;
  padding: 6px 8px;
  color: black;
  background-color: white;
  text-decoration: none;
  -webkit-box-shadow: -1px 1px 5px rgba(73, 0, 55, 0.205);
          box-shadow: -1px 1px 5px rgba(73, 0, 55, 0.205);
  border-radius: 20px 0 10px 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.navbar-container header nav ul li .link:hover {
  -webkit-box-shadow: -2px 2px 4px #a3a3a3;
          box-shadow: -2px 2px 4px #a3a3a3;
  cursor: pointer;
}

.navbar-container header nav ul li ul {
  position: absolute;
  display: block;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.navbar-container header nav ul li ul li {
  display: block;
  margin: 0;
}

.navbar-container header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

.navbar-container header .shopping-cart {
  float: right;
  height: 50px;
  line-height: 50px;
  margin-top: 12px;
}

.navbar-container header .shopping-cart .quantity {
  position: absolute;
  -webkit-transform: translate(36px, 0);
          transform: translate(36px, 0);
  color: #ff416a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 3px #f79999;
          box-shadow: 0 0 3px #f79999;
  height: 22px;
  width: 30px;
  border-radius: 12px 0 12px 0;
}

.navbar-container header .shopping-cart .link {
  color: #fda2ae;
  display: block;
}

.navbar-container header .shopping-cart .link .fa {
  font-size: 1.8em;
  margin-top: 12px;
}

.navbar-container header .menu-lines {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 99;
  padding: 7px 3px;
  display: none;
  cursor: pointer;
}

.navbar-container header .menu-lines .line {
  display: block;
  margin-top: 4px;
  width: 30px;
  height: 5px;
  background: #e205c1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.navbar-container header .menu-lines .line.open:nth-child(1) {
  -webkit-transform: rotate(46deg) translate(5px, 9px);
          transform: rotate(46deg) translate(5px, 9px);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.navbar-container header .menu-lines .line.open:nth-child(2) {
  -webkit-transform: rotate(-50deg) translate(-3px, -2px);
          transform: rotate(-50deg) translate(-3px, -2px);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.navbar-container header .menu-lines .line.open:nth-child(3) {
  display: none;
}

@media (max-width: 900px) {
  .navbar-container header {
    padding: 3px 20px !important;
  }
  .navbar-container header .menu-lines {
    display: block;
  }
  .navbar-container header .logo a {
    float: none;
    line-height: 35px;
    height: 45px;
  }
  .navbar-container header .shopping-cart {
    float: none;
    margin: 0;
    line-height: 25px;
    height: 35px;
  }
  .navbar-container header .shopping-cart .quantity {
    display: inline !important;
    margin-left: 62px !important;
  }
  .navbar-container header .shopping-cart .fa {
    margin-top: 0 !important;
  }
  .navbar-container header nav {
    position: fixed;
    width: 100%;
    height: calc(100vh - 60px);
    background: white;
    top: 60px;
    left: -100%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .navbar-container header nav.active {
    left: 0;
  }
  .navbar-container header nav ul li:hover ul {
    position: relative;
    background-color: white;
    display: block;
    left: 0;
  }
  .navbar-container header nav ul li:hover ul li {
    margin-top: 2px;
    border-radius: 110px;
  }
  .navbar-container header nav ul {
    display: block;
  }
  .navbar-container header nav ul li {
    border-bottom: 1px solid rgba(255, 80, 226, 0.1);
    margin-top: 5%;
  }
  .navbar-container header nav ul li .link {
    border-radius: 0;
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
  }
  .navbar-container header nav ul li .link:hover {
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
  }
  .navbar-container header nav ul li ul {
    display: none;
  }
  .navbar-container header nav ul li ul li {
    width: 100%;
    border: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */