@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  overflow-x: hidden;
}

.home {
  margin-top: 4em;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.home header, .home main {
  width: 100%;
  height: auto;
}

.home header .slide-container, .home main .slide-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.home header .slide-container .slider, .home main .slide-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  float: left;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}

.home header .slide-container .slider .slide, .home main .slide-container .slider .slide {
  position: relative;
  width: 25%;
  height: 100%;
  float: left;
}

.home header .slide-container .slider .slide .text-slide, .home main .slide-container .slider .slide .text-slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home header .slide-container .slider .slide .text-slide p, .home main .slide-container .slider .slide .text-slide p {
  width: 60%;
  color: #791b61;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(#fdfdfd));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.85), #fdfdfd);
  font-size: 20px;
  padding: 15px 10px 15px 10px;
  text-align: center;
  border-radius: 0 40px 0 0;
}

.home header .slide-container .slider .slide.slide1, .home main .slide-container .slider .slide.slide1 {
  background: url("../../cos-img/hand.jpg");
  background-size: cover;
  background-position: center;
}

.home header .slide-container .slider .slide.slide2, .home main .slide-container .slider .slide.slide2 {
  background: url("../../cos-img/lipstick.jpg");
  background-size: cover;
  background-position: center;
}

.home header .slide-container .slider .slide.slide3, .home main .slide-container .slider .slide.slide3 {
  background: url("../../cos-img/woman.jpg");
  background-size: cover;
  background-position: center;
}

.home header .slide-container .slider .slide .caption, .home main .slide-container .slider .slide .caption {
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home header .slide-container .slider .slide .caption h2, .home main .slide-container .slider .slide .caption h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 48px;
}

.home header .slide-container .slider .slide .caption p, .home main .slide-container .slider .slide .caption p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
}

@-webkit-keyframes slide {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  85% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  85% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}

.home header .head-intro, .home main .head-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdfdfd;
}

.home header .head-intro .square, .home main .head-intro .square {
  height: 400px;
  width: 150px;
  background: linear-gradient(45deg, #5f072b, #ff7bd8);
  border-radius: 150px 0 150px 0;
  margin-left: 2vw;
}

.home header .head-intro .text, .home main .head-intro .text {
  width: 350px;
  color: #3a3a3a;
}

.home header .head-intro .text a, .home main .head-intro .text a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em 0 0 5em;
  padding: 10px 2em;
  text-decoration: none;
  background: #910968;
  color: white;
  -webkit-box-shadow: 0 0 8px #5c0538;
          box-shadow: 0 0 8px #5c0538;
  border-radius: 5px;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.home header .head-intro .text a:hover, .home main .head-intro .text a:hover {
  background-color: #d132a1;
}

.home header .head-intro .image img, .home main .head-intro .image img {
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home header .head-body, .home main .head-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home header .head-body .image img, .home main .head-body .image img {
  width: 35vw;
  height: 270px;
  border: 1px solid #cacaca;
  -o-object-fit: cover;
     object-fit: cover;
}

.home header .head-body .text, .home main .head-body .text {
  width: 35%;
  font-size: 1.2em;
  background-color: #eeeeee;
  color: #292929;
  padding: 3.5em 20px;
}

.home main .main-products .slider-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-top: 3%;
}

.home main .main-products .slider-section .pre,
.home main .main-products .slider-section .next {
  width: 220px;
  height: 150px;
  border: none;
  background-color: #c23b95;
  outline: none;
  color: white;
  font-size: 3.5em;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.home main .main-products .slider-section .pre:hover,
.home main .main-products .slider-section .next:hover {
  background-color: #740853;
  cursor: pointer;
}

.home main .main-products .slider-section .pre {
  border-radius: 10em 0 10em 0;
}

.home main .main-products .slider-section .next {
  border-radius: 0 10em 0 10em;
}

.home main .main-products .slider-section .slide {
  width: 100%;
}

.home main .main-products .slider-section .slide .slide-item {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.home main .main-products .slider-section .slide .slide-item img {
  width: 100%;
  background-size: contain;
  height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.home main .main-products .slider-section .slide .slide-item p {
  position: absolute;
  padding: 1em;
  font-size: 1.6em;
  background: white;
  color: #222;
}

.home main .main-products .slider-section .slide .slide-item .pallete-text {
  top: 0;
  left: 0;
  border-radius: 0 0 5em 0;
  padding: .5em;
}

.home main .main-products .slider-section .slide .slide-item .red-lipstick {
  top: 0;
  left: 0;
  border-radius: 2em 5em 2em 3px;
  color: #bd1212;
}

.home main .main-products .slider-section .slide .slide-item .varni {
  top: 0;
  left: 12%;
  border-radius: 10em 0 10em 6px;
}

.home main .main-products .slider-section .slide .slide-item .varni span {
  color: #a10788;
}

.home main .main-products .slider-section .slide .slide-item .perf {
  top: 0;
  right: 1%;
  border-radius: 2em 0 10em 9em;
  font-size: 1.4em;
}

.home main .main-products .slider-section .slide .slide-item .perf span {
  color: #3251df;
}

.home main .main-products .slider-section .slide .slide-item .drayer {
  top: 0;
  right: 2%;
  font-size: 1.4em;
  border-radius: 0 0 3em 3em;
  color: #47bd82;
}

.home main .main-products .whats-new-section,
.home main .main-products .whats-popular-section {
  width: 100%;
  height: auto;
  margin-top: 3%;
}

.home main .main-products .whats-new-section h2,
.home main .main-products .whats-popular-section h2 {
  text-align: center;
  font-weight: 100;
  font-size: 1.7em;
}

.home main .main-products .whats-new-section h2:before, .home main .main-products .whats-new-section h2:after,
.home main .main-products .whats-popular-section h2:before,
.home main .main-products .whats-popular-section h2:after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: #666;
  position: absolute;
  margin-top: 4vh;
}

.home main .main-products .whats-new-section h2:before,
.home main .main-products .whats-popular-section h2:before {
  left: 7%;
}

.home main .main-products .whats-new-section h2:after,
.home main .main-products .whats-popular-section h2:after {
  right: 7%;
}

.home main .main-products .whats-new-section .new-products,
.home main .main-products .whats-new-section .popular-products,
.home main .main-products .whats-popular-section .new-products,
.home main .main-products .whats-popular-section .popular-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home main .main-products .whats-new-section .new-products button,
.home main .main-products .whats-new-section .popular-products button,
.home main .main-products .whats-popular-section .new-products button,
.home main .main-products .whats-popular-section .popular-products button {
  font-size: 4em;
  background: transparent;
  border: 0;
  color: black;
}

.home main .main-products .whats-new-section .new-products button:hover,
.home main .main-products .whats-new-section .popular-products button:hover,
.home main .main-products .whats-popular-section .new-products button:hover,
.home main .main-products .whats-popular-section .popular-products button:hover {
  cursor: pointer;
  color: #5f072b;
}

.home main .main-products .whats-new-section .new-products .products-slide,
.home main .main-products .whats-new-section .popular-products .products-slide,
.home main .main-products .whats-popular-section .new-products .products-slide,
.home main .main-products .whats-popular-section .popular-products .products-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item {
  display: inline-block;
  text-align: center;
  width: 280px;
  margin-top: 3em;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item .detail,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item .detail,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item .detail {
  color: black;
  text-decoration: none;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail h5,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item .detail h5,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item .detail h5,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item .detail h5 {
  border: 1px solid;
  position: absolute;
  margin: 2px 5px;
  padding: 3px 7px;
  color: #232324;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail img,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item .detail img,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item .detail img,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item .detail img {
  width: 50%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail .text,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item .detail .text,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item .detail .text,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item .detail .text {
  width: 80%;
  display: inline-block;
  height: 150px;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail .text span,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item .detail .text span,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item .detail .text span,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item .detail .text span {
  display: block;
  font-size: 14px;
  color: #201d1d;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail .text p,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item .detail .text p,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item .detail .text p,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item .detail .text p {
  text-shadow: 0px 0px 1px black;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .price,
.home main .main-products .whats-new-section .popular-products .products-slide .product-item .price,
.home main .main-products .whats-popular-section .new-products .products-slide .product-item .price,
.home main .main-products .whats-popular-section .popular-products .products-slide .product-item .price {
  border: 1px solid #2cbd00;
  color: #399c00;
  letter-spacing: 2px;
}

.home main .main-products .main-slide-section {
  margin-top: 3%;
}

.home main .main-products .main-slide-section h2 {
  text-align: center;
  font-weight: 200;
  margin: 20px 0 25px 0;
}

.home main .main-products .main-slide-section h2:before, .home main .main-products .main-slide-section h2:after {
  content: "";
  width: 20%;
  height: 1px;
  background-color: #666;
  position: absolute;
  margin-top: 4vh;
}

.home main .main-products .main-slide-section h2:before {
  left: 15%;
}

.home main .main-products .main-slide-section h2:after {
  right: 15%;
}

.home main .main-products .main-slide-section .slide-container {
  height: 65vh;
}

.home main .main-products .main-slide-section .slide-container .slider {
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}

.home main .main-products .main-slide-section .slide-container .slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home main .main-products .main-slide-section .slide-container .slider .slide a {
  text-decoration: none;
}

.home main .main-products .main-slide-section .slide-container .slider .slide a:active p {
  color: #ea00ff;
}

.home main .main-products .main-slide-section .slide-container .slider .slide .poster {
  width: 22vw;
  height: 90%;
  margin-top: 5%;
  text-align: center;
}

.home main .main-products .main-slide-section .slide-container .slider .slide .poster p {
  background: black;
  color: white;
  font-size: 24px;
  width: 22vw;
  padding: 3px;
  border-top: 2px solid #ea00ff;
  position: absolute;
  bottom: 5%;
}

.home main .main-products .main-slide-section .slide-container .slider .slide .poster p:hover {
  background-color: #ea00ff;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide1 {
  background: white;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide1 .poster.one {
  background: url("../../cos-img/product-img/posters/loreal_poster (3).jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide1 .poster.two {
  background: url("../../cos-img/product-img/posters/Syoss_poster-696x522.jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide1 .poster.three {
  background: url("../../cos-img/product-img/posters/garnier_poster.jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide1 .poster.four {
  background: url("../../cos-img/product-img/posters/tresemme_poster.jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide2 {
  background: white;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide2 .poster.one {
  background: url("../../cos-img/product-img/posters/garnier_poster (2).jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide2 .poster.two {
  background: url("../../cos-img/product-img/posters/loreal_poster (4).jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide2 .poster.three {
  background: url("../../cos-img/product-img/posters/syoss_poster.jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide2 .poster.four {
  background: url("../../cos-img/product-img/posters/loreal_poster (1).jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide3 {
  background: white;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide3 .poster.one {
  background: url("../../cos-img/product-img/posters/loreal_poster (2).jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide3 .poster.two {
  background: url("../../cos-img/product-img/posters/syoss_poster (2).jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide3 .poster.three {
  background: url("../../cos-img/product-img/posters/nevia_poster.jpg");
  background-size: contain;
}

.home main .main-products .main-slide-section .slide-container .slider .slide.slide3 .poster.four {
  background: url("../../cos-img/product-img/posters/gliss_poster.jpg");
  background-size: contain;
}
/*# sourceMappingURL=home.css.map */