@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  overflow-x: hidden;
}

.home {
  margin-top: 4.5em;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.home header {
  width: 100%;
  height: auto;
}

.home header .head-slide-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.home header .head-slide-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  float: left;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}

.home header .head-slide-container .slider .slide {
  position: relative;
  width: 25%;
  height: 100%;
  float: left;
}

.home header .head-slide-container .slider .slide.slide1 {
  background: url("../cos-img/hand.jpg");
  background-size: cover;
  background-position: center;
}

.home header .head-slide-container .slider .slide.slide2 {
  background: url("../cos-img/lipstick.jpg");
  background-size: cover;
  background-position: center;
}

.home header .head-slide-container .slider .slide.slide3 {
  background: url("../cos-img/woman.jpg");
  background-size: cover;
  background-position: center;
}

.home header .head-slide-container .slider .slide .caption {
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home header .head-slide-container .slider .slide .caption h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 48px;
}

.home header .head-slide-container .slider .slide .caption p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
}

@-webkit-keyframes slide {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  85% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  25% {
    left: 0;
  }
  30% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  60% {
    left: -200%;
  }
  85% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}

.home header .head-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdfdfd;
}

.home header .head-intro .square {
  height: 400px;
  width: 150px;
  background: linear-gradient(45deg, #5f072b, #ff7bd8);
  border-radius: 150px 0 150px 0;
  margin-left: 2vw;
}

.home header .head-intro .text {
  width: 350px;
  color: #3a3a3a;
}

.home header .head-intro .text a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em 0 0 5em;
  padding: 10px 2em;
  text-decoration: none;
  background: #910968;
  color: white;
  -webkit-box-shadow: 0 0 8px #5c0538;
          box-shadow: 0 0 8px #5c0538;
  border-radius: 5px;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.home header .head-intro .text a:hover {
  background-color: #d132a1;
}

.home header .head-intro .image img {
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home header .head-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home header .head-body .image img {
  width: 35vw;
  height: 270px;
  border: 1px solid #cacaca;
  -o-object-fit: cover;
     object-fit: cover;
}

.home header .head-body .text {
  width: 35%;
  font-size: 1.2em;
  background-color: #eeeeee;
  color: #292929;
  padding: 3.5em 20px;
}

.home main .main-products .slider-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-top: 7vh;
}

.home main .main-products .slider-section .pre,
.home main .main-products .slider-section .next {
  width: 220px;
  height: 150px;
  border: none;
  background-color: #c23b95;
  outline: none;
  color: white;
  font-size: 3.5em;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.home main .main-products .slider-section .pre:hover,
.home main .main-products .slider-section .next:hover {
  background-color: #740853;
  cursor: pointer;
}

.home main .main-products .slider-section .pre {
  border-radius: 10em 0 10em 0;
}

.home main .main-products .slider-section .next {
  border-radius: 0 10em 0 10em;
}

.home main .main-products .slider-section .slide {
  width: 100%;
}

.home main .main-products .slider-section .slide .slide-item {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.home main .main-products .slider-section .slide .slide-item img {
  width: 100%;
  background-size: contain;
}

.home main .main-products .slider-section .slide .slide-item p {
  position: absolute;
  padding: 1.5em;
  font-size: 1.8em;
  background: white;
  color: #222;
}

.home main .main-products .slider-section .slide .slide-item .pallete-text {
  top: 0;
  left: 0;
  border-radius: 0 0 5em 0;
}

.home main .main-products .slider-section .slide .slide-item .red-lipstick {
  top: 0;
  left: 0;
  border-radius: 2em 5em 2em 3px;
  color: #bd1212;
}

.home main .main-products .slider-section .slide .slide-item .varni {
  top: 0;
  left: 12%;
  border-radius: 10em 0 10em 6px;
}

.home main .main-products .slider-section .slide .slide-item .varni span {
  color: #a10788;
}

.home main .main-products .slider-section .slide .slide-item .perf {
  top: 0;
  right: 0;
  border-radius: 2em 0 10em 9em;
  font-size: 1.6em;
}

.home main .main-products .slider-section .slide .slide-item .perf span {
  color: #3251df;
}

.home main .main-products .slider-section .slide .slide-item .drayer {
  top: 0;
  left: 17%;
  font-size: 1.4em;
  border-radius: 0 0 3em 3em;
  color: #47bd82;
}

.home main .main-products .whats-new-section {
  width: 100%;
  height: auto;
}

.home main .main-products .whats-new-section h2 {
  text-align: center;
  font-weight: 100;
  font-size: 1.7em;
  margin-bottom: 10vh;
}

.home main .main-products .whats-new-section h2:before, .home main .main-products .whats-new-section h2:after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: #666;
  position: absolute;
  margin-top: 3.3vh;
}

.home main .main-products .whats-new-section h2:before {
  left: 7%;
}

.home main .main-products .whats-new-section h2:after {
  right: 7%;
}

.home main .main-products .whats-new-section .new-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home main .main-products .whats-new-section .new-products button {
  font-size: 4em;
  background: transparent;
  border: 0;
  color: black;
}

.home main .main-products .whats-new-section .new-products button:hover {
  cursor: pointer;
  color: #5f072b;
}

.home main .main-products .whats-new-section .new-products .products-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item {
  display: inline-block;
  text-align: center;
  width: 280px;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail {
  color: black;
  text-decoration: none;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail h5 {
  border: 1px solid;
  position: absolute;
  margin: 2px 5px;
  padding: 3px 7px;
  color: #0f67eb;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail img {
  width: 50%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail .text {
  width: 80%;
  display: inline-block;
  height: 160px;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail .text span {
  display: block;
  font-size: 14px;
  color: #201d1d;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .detail .text p {
  font-size: 18px;
  text-shadow: 0px 0px 1px black;
}

.home main .main-products .whats-new-section .new-products .products-slide .product-item .price {
  border: 1px solid #2cbd00;
  color: #399c00;
  letter-spacing: 2px;
}
/*# sourceMappingURL=home.css.map */